/* Global */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ffff;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --maincolor:#2f3031;
    --secondcolor:#27b2da;
    --transparentcolor:rgb(15 116 143 / 70%);
    --textbgcolor:rgb(25, 200, 250 , 50%)
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.headingcomponent{
    margin-bottom: 150px;
}
.headingcomponent  h2{
    position: relative;
    text-align: center;
    padding: 30px;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 30px;
}
.headingcomponent  h2::before{
    position: absolute;
    content:"";
    width: 10%;
    height:1px;
    bottom: 0;
    background-color: black;
    left: 45%;
}
.headingcomponent p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
    line-height: 1.8;
    opacity: 70%;
}
/* Small */
@media (min-width:768px) {
    .container{
        width:720px
    }
    
}


/* Medium */

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
/* Global */
/* Header */
.header{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: rgb(0, 0, 0 , 30%);
}
.header .container{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
}
.header .container::after{
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: -1;
}
.container .logo img{
width: 150px;
}
.header .container .toggle-menu{
    font-size: 20px;
    color: white;
}
@media (min-width: 767px) {
    .header .container .toggle-menu{
    display: none;
    }
}
.header .container .links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:1;
}
.header .container .links ul{
    display: flex;
}
@media (max-width:767px) {
    .header .container .links ul{
        display: none;
    }
    .header .container .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0 , 50%);
    }
}
.header .container .links ul li a{
    color: white;
    font-size: 14px;
    padding: 40px 10px;
    transition: 0.3s ;
    display: block;
}
.header .container .links ul .active,
.header .container .links ul li a:hover{
    color: var(--secondcolor);
    border-bottom: var(--secondcolor) 1px solid;
}
.header .container .links .form{
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px white solid;
}
.header .container .links .form i{
    position: absolute;
    color: white;
    font-size:20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
/* Header */
/* Landing */
.landing{
    background-image: url(../images/landing.png);
    background-size: cover;
    background-color: #3d3d3d;
    height: 100vh;
    position: relative;
}
.landing .over{
    background-color: rgb(0, 0, 0 , 40%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 50%;
    background-color: var(--transparentcolor);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:767px){
    .landing .text{
        width: 100%;
    }
}
.landing .text .content h2{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 15px;
    line-height: 2;
    font-weight: 100;
}
.landing .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;

}
@media (max-width:767px){
    .landing .change-background{
        display: none;
    }
}
.landing .fa-angle-right{
    right: 20px;
}
.landing .fa-angle-left{
    left: 20px;
}
.landing .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
}
.landing .bullets .active{
    background-color: var(--secondcolor);
}
/* Landing */
/* Services */
.services{
    margin-bottom: 100px;
    margin-top: 100px;
}
.services .services-content{
    display: grid;
    grid-template-columns: 1fr auto;
    line-height: 1.5;
    margin-bottom: 100px;
}
.services .services-content p{
    opacity: 50%;
    max-width: 400px;
    font-size: 15px;
    margin-bottom: 50px;
}
.services .services-content h3{
    margin-bottom: 15px;
    font-weight: normal;
    color: var(--secondcolor);
    font-size: 20px;
}
.services .services-content i {
    font-size: 40px;
    position: absolute;
    left: -150px;
}
.services .services-content .grid1{
    position: relative;
    margin-left: 150px;
}
.services .services-content .grid2{
    position: relative;
}
.services .services-content .grid3{
    position: relative;
    margin-left: 150px;
}
.services .services-content .grid4{
    position: relative;
}
@media(max-width:767px){
    .services .services-content{
        grid-template-columns: 1fr;

}
.services .services-content i {
    left:-50px;
}
.services .services-content .grid1{
    margin-left: 50px;
}
.services .services-content .grid2{
    margin-left: 50px;
}
.services .services-content .grid3{
    margin-left: 50px;
}
.services .services-content .grid4{
    margin-left: 50px;
}
}
.srvtext{
    display: flex;
    justify-content: space-around;
    background-color: var(--maincolor);
    align-items: center;
    position: relative;
}
.srvtext .pic img{
    width: 500px;
    transform: translateX(-350px);
    display: flex;
}
@media (max-width:767px) {
    .srvtext .pic img{
        display: none;
    }
}
.srvtext .txt1{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 50%;
    background-color: var(--transparentcolor);
    padding: 50px;
}
@media (max-width:767px){
    .srvtext .txt1{
        width: 100%;
        padding: 20px;
    }
}
.srvtext .txt1 .p{
    font-size: 15px;
    line-height: 3;
    font-weight: 100;
    position: relative;
    left: 30px;
}
.srvtext .txt1 h3{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 30px;
}
.srvtext .txt1 i{
    position: absolute;
    left:-30px;
    font-size: 20px;
    line-height: 2.5;
}
/* Services */
/* Portfolio */


.portfolio .buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.portfolio .buttons a{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    transition: 0.3s;
}
.portfolio .buttons a:hover{
    background-color: var(--secondcolor);
    color: white;
}
.portfolio .buttons .active{
    background-color: var(--secondcolor);
    color: white;
}
.portfolio .awesomeimages{
display: flex;
background-color: var(--maincolor);
flex-wrap: wrap;
margin-bottom: 20px;
}
.portfolio .awesomeimages img{
    width: 25%;
    cursor: pointer;
    transition: linear 0.3s ;
}
.portfolio .awesomeimages img:hover{
    transform: scale(1.2);
}
.portfolio .more{
    display: flex;
    justify-content: center;
}
.portfolio .more .button{
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: var(--secondcolor);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    transition: 0.3s ease;
}
.portfolio .more .button:hover{
    background-color: #009ac3;
}
.portfolio .awesomevideo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--maincolor) ;
}
/* Portfolio */
/* About */
.about{
    margin-bottom: 100px;
    margin-top: 100px;
}
.about .container .about-content{
    background-color: var(--maincolor);
}
.about .container .about-content .aboutpic{
    display: flex;
    justify-content: center;
}
.about .container .about-content .aboutpic img{
    width: 100%;
}
.about  .abouttxt{
    width: 100%;
    background-image: url(../images/img1.jpg);
    display: flex;
    justify-content: center;
    padding: 100px;
}
.about  .abouttxt .abttxtcnt{ 
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 70px;
    background-color: var(--transparentcolor);
    text-align: center;
    line-height: 1.5;
    width: 70%;
}
.about  .abouttxt .abttxtcnt i {
    font-size: 20px;
}
.about .about-content .abouttxt .abttxtcnt h3{
    font-size: 50px;
}
.about .about-content .abouttxt .abttxtcnt p{
    font-weight: 200;
    font-size: 15px;
}
.about .about-content2 .container .headingexp {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}
.about .about-content2 .container .headingexp h2{
    font-size: 25px;
    font-weight: normal;
    padding: 30px;
}
.about .about-content2 .container .headingexp p{
    font-size: 15px;
    line-height: 1.5;
    width: 400px;
    opacity: 70%;
}
.about .about-content2 .container .exp-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
.about .about-content2 .container .exp-content .exp-text .person{
    position: relative;
}
.about .about-content2 .container .exp-content .exp-text .person .txt1:after{
    content: "";
    width: 65%;
    height: 1px;
    background-color: var(--maincolor);
    position: absolute;
    right: 0;
    margin-top: 10px;
}
.about .about-content2 .container .exp-content .exp-text .person .txt2:after{
    content: "";
    width: 65%;
    height: 1px;
    background-color: var(--maincolor);
    position: absolute;
    right: 0;
    margin-top: 10px;
}
.about .about-content2 .container .exp-content .exp-text .person .txt1{
    padding-bottom: 70px;
}
.about .about-content2 .container .exp-content .exp-text .person .txt2{
    padding-bottom: 10px;
}
.about .about-content2 .container .exp-content .exp-text .person img{
width: 100px;
border-radius: 50%;
position: absolute;

}
.about .about-content2 .container .exp-content .exp-text .person h5{
    font-weight: normal;
    font-size: 15px;
    line-height: 2;
    padding-left: 200px;
}
.about .about-content2 .container .exp-content .exp-text .person p{
    display: flex;
    justify-content: flex-end;
    opacity: 70%;
    font-style: italic;
    font-size: 15px;
}
.about .about-content2 .container .exp-content .exp-rates{
    margin-left: 80px;
}
.about .about-content2 .container .exp-content .exp-rates p{
    padding-bottom:40px ;
    padding-top:10px ;
    position: relative;
}
.about .container .exp-content .exp-rates p::after{
    content: "";
    width: 100%;
    height: 30px;
    background-color: #DDD;
    position: absolute;
    left: 0;
    bottom: 0;
}
.about .about-content2 .container .exp-content .exp-rates .a::before{
    content: attr(data-progress);
    width: 95%;
    height: 30px;
    background-color: var(--secondcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about .about-content2 .container .exp-content .exp-rates .h::before{
    content: attr(data-progress);
    width: 90%;
    height: 30px;
    background-color: var(--secondcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about .about-content2 .container .exp-content .exp-rates .j::before{
    content: attr(data-progress);
    width: 85%;
    height: 30px;
    background-color: var(--secondcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about .about-content2 .container .exp-content .exp-rates .p::before{
    content:attr(data-progress);
    width: 87%;
    height: 30px;
    background-color: var(--secondcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about .about-end {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top:100px;
    padding-bottom:200px;
    line-height: 3;
    color: white;
    text-align: center;
    background-image: url(../images/img1.jpg);

}
.about .about-end .txt{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* About */
/* PRICING */

.pricing .container .pricing-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: var(--maincolor);
    line-height: 3;
}
.pricing .container .pricing-content .basic .headingbasic{
padding-top: 20px;
padding-bottom: 20px;
position: relative;
}
.pricing .container .pricing-content .basic .headingbasic::before{
    content: "";
    width: calc(100% + 120px);
    height: 1px;
    background-color: var(--secondcolor);
    position: absolute;
    top: 0;
    left: -60px;
}
.pricing .container .pricing-content .basic .headingbasic::after{
    content: "";
    width: calc(100% + 120px);
    height: 1px;
    background-color: var(--secondcolor);
    position: absolute;
    bottom: 0;
    left: -60px;
}
.pricing .container .pricing-content .basic h6{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.pricing .container .pricing-content .basic h3{
    font-size:20px;
    font-weight: 500;
}
.pricing .container .pricing-content .basic h3 span{
    font-size:70px;
    line-height: 0.5;
}
.pricing .container .pricing-content .basic .basiccontent p{
    padding-top: 20px;
    padding-bottom:20px ;
    position: relative;
}
.pricing .container .pricing-content .basic .basiccontent p::before{
    content: "";
    width: calc(100%);
    height: 1px;
    background-color: var(--secondcolor);
    position: absolute;
    left: 0;
    bottom: 0;
}

.pricing .container .pricing-content .basic .basiccontent button{
position: relative;
outline: none;
border: none;
cursor: pointer;
padding-top: 10px;
padding-bottom:10px ;
padding-left: 30px;
padding-right: 30px;
margin-top: 50px;
border: 1px var(--secondcolor) solid;
transition: 0.3s ease;
}
.pricing .container .pricing-content .basic .basiccontent button:hover{
    background-color: var(--secondcolor);
    color: white;
}
.pricing .container .pricingend{
    text-align: center;
    margin-top: 100px;
    line-height: 3;
}
.pricing .container .pricingend h4{
font-weight: normal;
font-size: 20px;
}
.pricing .container .pricingend button{
    border: none;
    outline: none;
    background-color: var(--secondcolor);
    color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}
.pricing .container .pricingend button:hover{
    background-color: #009ac3;
}
.pricing .mail{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-image: url(../images/photo-1506744038136-46273834b3fb.jpg);
    margin-bottom: 100px;
}
.pricing .mail .mailform{
    border: 1px solid white;
}
.pricing .mail .mailform input{
border: none;
outline: none;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 250px;
padding-left: 50px;
background: none;
font-size: 15px;
color: white;
}
.pricing .mail .mailform label{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--secondcolor);
    color: white;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease ;
}
.pricing .mail .mailform label:hover{
    background-color: #009ac3;
}
.pricing .mail .mailtxt{
width: 600px;
font-size: 15px;
}
/* PRICING */
/* CONTACT US */

.contactus .container .contact-content{
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
}
.contactus .container .contact-content .contact-inputs input{
    padding-right: 750px;
    padding-bottom: 20px;
    outline: none;
    border: rgb(0, 0, 0 , 30%) solid 1px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
.contactus .container .contact-content .contact-inputs input:last-child{
    padding-bottom: 200px;
}
.contactus .container .contact-content .desc .desc-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.contactus .container .contact-content .desc .desc-content{
    line-height: 2;
}
.contactus .container .contact-content .desc .desc-content  h5{
padding-bottom: 20px;
font-weight: 500;
font-size: 14px;
color: var(--maincolor);
}
.contactus .container .contact-content .desc .desc-content p{
    font-size: 14px;
    color: rgb(0, 0, 0 , 50%);
}
.contactus .container .contact-content .desc .desc-content .c2{
    margin-top: 60px;
}

/* CONTACT US */
/* Footer */
.footer .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    text-align: center;
    background-image: url(../images/photo-1506744038136-46273834b3fb.jpg);
    color: white;
}
.footer .footer-content img{
    width: 150px;
}
.footer .footer-content h5{
    border-bottom: 1px white solid;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 25px;
    font-weight:300;
}
.footer .footer-content i{
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer .footer-content i:hover{
    color: var(--maincolor);
}
.footer .footer-content span{
    color: var(--secondcolor);
}

/* Footer */


